<%= form_for(actor) do |f| %>
  <% if actor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(actor.errors.count, "error") %> prohibited this actor from being saved:</h2>

      <ul>
      <% actor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>

  <div class="field">
    <%= f.label :image_path %>
    <%= f.text_field :image_path %>
  </div>

  <div class="field">
    <%= f.label :alternative_name %>
    <%= f.text_field :alternative_name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
